body {
    box-sizing: border-box;
    padding: 0%;
}


.heading {
    height: 90px;
    width: 100%;
    background-color: #005372;
    border: 1px solid black;
    display: flex;
    align-items: center;

}

.logo {
    color: white;
    margin-left: 20px;
    margin-top: 13px;
}

.menu ul li {
    float: left;
    list-style-type: none;
}

.menu ul li a {
    text-decoration: none;
    padding: 20px;
    color: white;
}

.right-menu {
    margin-left: 100px;
    display: flex;
    align-items: center;
}

.ulmenu ul li {
    float: left;
    padding: 20px;
    list-style-type: none;
}

.ulmenu ul li a {
    text-decoration: none;
    color: white;
}

.searchbar {
    background-color: white;
    height: 30px;
    width: 200px;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
}

.searchbar input {
    background-color: white;
    height: 30px;
    width: 200px;
    border: none;
    border-radius: 19px;
}

.homebody {
    width: 100%;
    height: 620px;
    border: none;
    background-image: url(img/backgrou-top.jpg);
    background-size: cover;
}